Procfile
app.yaml

__pycache__/
env*/
*.egg-info/
**/*.csv
**/*.zip
**/*.feather
**/*.html
**/*.ipynb
**/*.sh
**/*.xlsx

/data/favicon.ico

# Local specific
clean_aws/
external_code/
.vscode
/all_data