Procfile
app.yaml

__pycache__/
env*/
*.egg-info/
.vscode
**/*.csv
**/*.zip
**/*.feather
**/*.html
**/*.ipynb
**/*.sh
**/*.xlsx

clean_aws/
external_code/
data
!data/datasets/**/*.gif
!data/datasets/**/*.png