Procfile
app.yaml

__pycache__/
env*/
*.egg-info/
**/*.csv
**/*.zip
**/*.feather
**/*.html
**/*.ipynb
**/*.sh
**/*.xlsx

clean_aws/
external_code/
/data/favicon.ico

# Local specific
.vscode
/all_data